:root {
  /* Color Palette */

  --alice-blue: #ebf3ff;
  --light-purple: #dcb7f5;
  --dark-purple: #1d4396;
  --blue-violet: #2b1f84;
  --cyber-yellow: #ffffff;
  --amethyst: #212f8a;
  --medium-blue: #1100c7;

  /* Typography Settings */

  --ff-poppins: "Poppins", sans-serif;
  --ff-fugaz: "Fugaz", cursive;

  --fs-1: 7rem;
  --fs-2: 4.2rem;
  --fs-3: 3.8rem;
  --fs-4: 3.6rem;
  --fs-5: 3.4rem;
  --fs-6: 3.2rem;
  --fs-7: 3rem;
  --fs-8: 2.4rem;
  --fs-9: 2rem;
  --fs-10: 1.8rem;
  --fs-11: 1.4rem;
  --fs-12: 1.2rem;

  --fw-500: 500;
  --fw-700: 700;

  /* Spacing */

  --section-padding: 100px;

  /* Border Radius Options */

  --radius-circle: 50%;
  --radius-20: 20px;
  --radius-15: 15px;
  --radius-10: 10px;

  /* Box Shadow Options */

  --shadow-1: 0 0 30px 4px hsla(0, 0%, 0%, 0.05);
  --shadow-2: -1px 15px 26px -4px hsla(0, 5%, 61%, 0.15);

  /* Transitions */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: "Varela Round", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--alice-blue);
  color: var(--blue-violet);
  font-size: 1.6rem;
  line-height: 1.6;
  overflow: hidden;
}

body.loaded {
  overflow-x: hidden;
  overflow-y: visible;
}

body.active {
  overflow: hidden;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

/* !REUSED STYLES */

.container {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  color: var(--dark-purple);
  font-weight: var(--fw-700);
  line-height: 1.2;
}

.h1,
.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-5);
}

.h4 {
  font-size: var(--fs-6);
}

.h5 {
  font-size: var(--fs-8);
}

h1 {
  font-family: "Fugaz One", cursive;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  position: absolute;
  content: "";
}

.btn {
  padding: 13px 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: max-content;
  background-color: var(--alice-blue);
  color: var(--blue-violet);
  text-transform: uppercase;
  border-radius: var(--radius-10);
  transition: 0.2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.btn::after {
  inset: -39px -20px;
  transform: skewY(25deg) translateY(130px);
  transition: var(--transition-1);
  z-index: -1;
}

.btn:is(:hover, :focus-visible)::after {
  transform: skewY(25deg) translateY(0);
}

.btn-primary::after {
  background-color: var(--blue-violet);
}

.btn-primary:is(:hover, :focus-visible) {
  color: var(--cyber-yellow);
}

.btn-secondary {
  background-color: var(--alice-blue);
  color: var(--blue-violet);
}

.btn-secondary::after {
  background-color: var(--blue-violet);
}

.btn-secondary:is(:hover, :focus-visible) {
  color: var(--cyber-yellow);
}

.w-100 {
  width: 100%;
}

.section-title {
  margin-block-end: 20px;
}

.grid-list {
  display: grid;
  gap: 60px;
}

.rating-wrapper {
  display: flex;
  gap: 2px;
}

.rating-wrapper ion-icon {
  color: var(--cyber-yellow);
  font-size: 2rem;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-purple);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-reveal] {
  opacity: 0;
  transform: translateY(20px);
  transition: var(--transition-2);
}

[data-reveal="left"] {
  transform: translateX(-20px);
}

[data-reveal="right"] {
  transform: translateX(20px);
}

[data-reveal].revealed {
  opacity: 1;
  transform: translate(0);
}

/* LOADING PART */

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--alice-blue);
  display: grid;
  place-items: center;
  transition: var(--transition-1);
  z-index: 6;
}

.loading-container.loaded {
  opacity: 0;
  visibility: hidden;
}

.loading-circle {
  width: 50px;
  height: 50px;
  border: 5px solid var(--platinum);
  border-block-start-color: var(--cyber-yellow);
  border-radius: var(--radius-circle);
  animation: loading 0.5s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.loading-container.loaded .loading-circle {
  animation-iteration-count: 1;
}

/* HEADER */

.overlay,
.header .btn {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  z-index: 4;
}

.header.active {
  position: fixed;
  background-color: var(--alice-blue);
  box-shadow: var(--shadow-2);
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header-action {
  margin-inline-start: auto;
}

.cart-btn,
.nav-open-btn {
  padding: 12px;
  color: var(--cyber-yellow);
}

.cart-btn {
  font-size: 1.8rem;
}

.nav-open-btn {
  font-size: 2.2rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--alice-blue);
  padding: 50px 40px;
  visibility: hidden;
  transition: 0.35s var(--cubic-out);
  z-index: 2;
}

.navbar.active {
  transform: translateX(100%);
  visibility: visible;
  transition-duration: 0.5s;
}

.nav-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--davys-gray);
  font-size: 2.2rem;
  border: 1px solid var(--light-purple);
  border-radius: var(--radius-circle);
  padding: 2px;
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 35px;
}

.navbar .logo {
  margin-block-end: 30px;
}

.navbar-item {
  border-block-end: 1px solid var(--light-purple);
}

.navbar-link {
  color: var(--blue-violet);
  padding-block: 12px;
}

.navbar-link:is(:hover, :focus-visible) {
  color: var(--dark-purple);
}

/* HERO */

.hero {
  padding-block-start: calc(var(--section-padding) + 5px);
}

.hero .container {
  display: grid;
  gap: 80px;
}

.hero-text {
  margin-block: 8px 40px;
}

.hero .shape {
  display: none;
}

/* INSTRUCTIONS */

.instruction {
  padding-block-start: 0;
  text-align: center;
}

.instruction .section-text {
  margin-block-end: 60px;
}

.instruction .card-title {
  margin-block: 25px;
}

.instruction .card-title .span {
  display: inline-block;
  color: var(--cyber-yellow);
  font-size: var(--fs-4);
  line-height: 1;
}

/* TOP-RESTAURANTS */

.restaurant-card {
  padding: 20px;
}

.restaurant-card .card-icon {
  width: 100px;
  border-radius: var(--radius-15);
  overflow: hidden;
  margin-block-end: 20px;
}

.restaurant-card .rating-wrapper {
  margin-block-start: 5px;
}

.restaurant-card .card-meta-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.restaurant-card .card-meta {
  color: var(--amethyst);
  font-size: var(--fs-11);
  border: 1px solid;
  padding: 5px 15px;
  border-radius: var(--radius-10);
  margin-block: 15px 20px;
  transition: var(--transition-1);
}

.restaurant-card .card-meta:is(:hover, :focus-visible) {
  background-color: var(--amethyst);
  color: var(--cyber-yellow);
}

.top-restaurant .btn {
  margin-inline: auto;
  margin-block-start: 40px;
}

#top-restaurant-label {
  text-align: center;
}

/* CTA */

.cta .container {
  display: grid;
  gap: 60px;
}

.cta .section-text {
  margin-block: 20px 30px;
}

/* STATS */

.stats .section-title {
  margin-block-end: 0;
}

.stats-item {
  background-color: var(--alice-blue);
  padding: 40px;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
  border-radius: var(--radius-10);
  text-align: center;
}

.stats-item .span {
  color: var(--cyber-yellow);
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  line-height: 1;
}

/* TESTIMONIALS */

.testi .container {
  display: grid;
  gap: 80px;
}

.testi-text {
  font-size: var(--fs-10);
  margin-block: 25px 20px;
}

.testi .wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testi .author-title {
  color: var(--dark-purple);
  font-size: var(--fs-10);
  font-weight: var(--fw-500);
  margin-block-end: 5px;
}

/* PARTNERSHIP */

.partnership {
  background-color: var(--dark-purple);
  overflow-x: hidden;
}

.partnership .section-title {
  text-align: center;
  color: var(--alice-blue);
  margin-block-end: 50px;
}

.partnership-card {
  position: relative;
}

.partnership-card .card-banner {
  outline: 7px solid var(--cyber-yellow);
  border-radius: var(--radius-20);
  margin: 7px;
}

.partnership-card .card-title {
  color: var(--alice-blue);
  margin-block-end: 10px;
}

.partnership-card .card-content {
  position: absolute;
  bottom: -20px;
  left: 20px;
}

/* NEWSLETTER */

.newsletter .container {
  display: grid;
  gap: 40px;
}

.newsletter .section-title {
  margin-block-end: 30px;
}

.newsletter .input-field {
  background-color: var(--alice-blue);
  padding: 15px 30px;
  border-radius: var(--radius-10);
  box-shadow: var(--shadow-2);
  margin-block-end: 20px;
  outline: none;
}

.newsletter .input-field:focus {
  box-shadow: inset 0 0 0 2px var(--cyber-yellow);
}

.newsletter .btn ion-icon {
  --ionicon-stroke-width: 50px;
}

/* FOOTER */

.footer {
  background-color: var(--dark-purple);
  color: var(--alice-blue);
}

.footer .section-title {
  color: var(--alice-blue);
  margin-block-start: 35px;
}

.footer-list-title {
  color: var(--blue-violet);
  margin-block-end: 25px;
}

.footer-link,
.address {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--transition-1);
  padding-block: 10px;
}

.footer-link ion-icon {
  font-size: 1.8rem;
}

.address {
  border-block-end: 1px solid var(--sonic-silver);
}

.footer-link:is(:hover, :focus-visible) {
  color: var(--cyber-yellow);
}

.address ion-icon {
  flex-shrink: 0;
}

.social-list {
  display: flex;
  gap: 20px;
  padding-block-start: 40px;
}

.social-link {
  font-size: 2rem;
  border: 1px solid;
  padding: 10px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) {
  background-color: var(--cyber-yellow);
  border-color: var(--cyber-yellow);
}

.footer-top {
  padding-block-end: 40px;
  border-block-end: 1px solid var(--sonic-silver);
}

.footer-bottom {
  padding-block: 25px;
  text-align: center;
}

.copyright {
  color: var(--sonic-silver);
  font-size: var(--fs-11);
}

/* MEDIA QUERIES */

/* --for screens larger than 575px */

@media (min-width: 575px) {
  :root {
    --fs-6: 4.2rem;
  }

  .container {
    max-width: 550px;
    width: 100%;
    margin-inline: auto;
  }

  .h1 {
    --fs-2: 6rem;
  }

  .h2 {
    --fs-2: 4.8rem;
    text-align: left;
  }

  /* Hero Section */

  .hero-banner {
    position: relative;
  }

  .hero .shape {
    display: block;
    position: absolute;
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-20);
  }

  .hero .shape-1 {
    left: 0;
    bottom: 60px;
  }

  .hero .shape-2 {
    top: 60px;
    right: -10px;
  }

  /* Instructions */
  .instruction-card .card-banner {
    max-width: max-content;
    margin-inline: auto;
  }

  /* Stats Section */

  .stats-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  /* Partnership Section */

  .partnership-card .card-content {
    left: 40px;
  }

  .partnership-card .card-title {
    --fs-8: 3.5rem;
  }
}

/* --for screens larger than 768px-- */

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  /* Header Section */

  .navbar {
    max-width: 428px;
    left: -430px;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    z-index: 1;
    opacity: 0;
    transition: var(--transition-1);
    visibility: hidden;
  }

  .overlay.active {
    visibility: visible;
    opacity: 0.7;
  }

  /* Top-Restaurant Stats Here */

  :is(.top-restaurant, .stats) .grid-list {
    align-items: center;
  }
}

/* --for screens larger than 992px-- */

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  /* Hero Section */

  .hero .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .hero .shape-1 {
    bottom: 30px;
  }

  .hero .shape-2 {
    top: 80px;
    right: -40px;
  }

  /* Instructions */

  .instruction .section-text {
    max-width: 60ch;
    margin-inline: auto;
  }

  .instruction .grid-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  /* Testimonials, newsletter and CTA  */

  :is(.cta, .testi, .newsletter) .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .footer-top {
    grid-template-columns: 1fr 0.5fr 1fr;
  }
}

/* --for screens larger than 1200px-- */

@media (min-width: 1200px) {
  :root {
    --fs-6: 4.8rem;
  }

  /* Reused Style Here */

  .container {
    max-width: 1140px;
  }

  /* Header Section */

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
  }

  .nav-open-btn,
  .nav-close-btn,
  .navbar .logo,
  .overlay {
    display: none;
  }

  .navbar-item {
    border-block-end: none;
  }

  .navbar-list {
    display: flex;
    gap: 40px;
  }

  .header .container {
    gap: 60px;
  }

  .navbar-link {
    transition: var(--transition-1);
  }

  .navbar-link:is(:hover, :focus-visible) {
    color: var(--cyber-yellow);
  }

  .header .btn-primary {
    display: block;
  }

  .header-action {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .cart-btn {
    background-color: var(--alice-blue);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
      -6px -6px 10px rgba(255, 255, 255, 0.5),
      6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
  }

  .cart-btn:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
      -2px -2px 4px rgba(255, 255, 255, 0.4),
      2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .cart-btn:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
      inset -2px -2px 4px rgba(255, 255, 255, 0.5),
      inset 2px 2px 2px rgba(255, 255, 255, 0.075),
      inset 2px 2px 4px rgba(0, 0, 0, 0.15);
  }

  /* Stats Section */

  .stats .grid-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .stats-item .span {
    --fs-1: 4.8rem;
  }
}

/*inf doctor*/
.custom-py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.custom-container {
  max-width: 1200px;
  margin: 0 auto;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

/* Estilos personalizados para la tarjeta */
.custom-card {
  border: 0;
  flex-basis: 50%; /* Ocupa la mitad del ancho en pantallas grandes */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-card-left {
  order: 1; /* Cambia el orden en pantallas grandes */
}

.custom-card-body {
  padding: 2rem;
}

.custom-card-title {
  font-size: 1.8rem;
}

.custom-card-subtitle {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.custom-card-text {
  font-size: 2rem;
}

/* Estilos personalizados para la imagen */
.custom-col-md-6 {
  flex-basis: 50%; /* Ocupa la mitad del ancho en pantallas grandes */
  text-align: center;
}

.custom-text-center {
  text-align: center;
}

.custom-w-75 {
  width: 75%;
}

/*social-icon*/
.icon {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

/* START CLIENTS STYLES */

.client-logo {
  opacity: 0.6;
  transition: all 0.3s ease;
  margin-right: 3rem;
  width: 100%;
}

.client-logo-wrap {
  width: calc(100% / 5 - 1.5rem);
  padding: 0.5rem;
}

.client-logo:last-child {
  margin-right: 0;
}

.client-logo:hover {
  opacity: 1;
}

/* END CLIENTS STYLES */
/* Estilos para el contenedor de logos de clientes */
.clients-logos {
  display: flex; /* Mostrar los logos en línea */
  justify-content: center; /* Centrar horizontalmente los logos */
  align-items: center; /* Centrar verticalmente los logos */
  flex-wrap: wrap; /* Permitir que los logos se ajusten a la pantalla si no caben en una sola fila */
}

/* Estilos para cada logo de cliente */
.client-logo-wrap {
  margin: 5px; /* Espacio entre los logos */
}

.client-logo {
  width: 200px; /* Tamaño de los logos, puedes ajustarlo según tus necesidades */
  height:200px;
}

.clients-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client-logo-wrap {
  width: 100%; /* Ajustar el ancho del contenedor de la imagen */
  max-width: 200px; /* Establecer el ancho máximo deseado de la imagen */
  margin: 10px; /* Ajustar los márgenes entre las imágenes */
}

.client-logo {
  width: 100%; /* Asegurar que la imagen ocupe todo el ancho disponible */
  height: auto; /* Conservar la proporción original de la imagen */
}

/* END CLIENTS STYLES */


/* Estilos mejorados para la sección de testimonios */

#testimonials {
  background-color: #f9f9f9;
  padding: 30px;
}

#testimonials .swiper-container {
  overflow: hidden;
  position: relative;
}

#testimonials .container {
  max-width: 800px;
  margin: 0 auto;
}

#testimonials header {
  text-align: center;
  margin-bottom: 30px;
}

#testimonials blockquote {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

#testimonials blockquote p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #333;
  position: relative;
  text-indent: 20px;
}

#testimonials blockquote p span {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: -8px;
  left: 0;
  color: #007bff;
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-size: 14px;
}

#testimonials cite img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

/* Estilos para el carrusel */
.swiper-slide {
  height: auto;
  padding: 30px 15px;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #888;
  opacity: 1;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer; /* Cambia el cursor al pasar sobre los puntos de paginación */
  transition: background-color 0.3s ease; /* Agrega una transición suave al cambiar de color */
}

.swiper-pagination-bullet-active {
  background-color: #007bff;
}

/* Tus estilos CSS aquí */

.rating {
  font-size: 24px;
  color: #f39c12; /* Color de las estrellas */
}


.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field,
.textarea-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  
}

.textarea-field {
  resize: vertical;
  resize: none;

}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.section-text2 u {
  text-decoration: underline;
  color: rgb(0, 0, 0); 
}

/*Whatsapp*/
#whatsapp {
  position: fixed;
  bottom: 20px;
  right:20px;
}

svg {
  width: 80px;
  filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
}
circle {
  fill: #25d366;
}
path {
  fill: #fff;
}

/* Estilo para el menú desplegable */
.navbar-item {
  position: relative;
}

.navbar-submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 200px;
}

.navbar-item:hover .navbar-submenu {
  display: block;
}

.navbar-submenu a {
  display: block;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.navbar-submenu a:hover {
  background-color: #f5f5f5;
}

/* Otros estilos del menú */
.navbar {
  /* Estilos para el menú principal */
  /* ... */
}

.navbar-list {
  /* Estilos para la lista de opciones del menú */
  /* ... */
}

.navbar-link {
  /* Estilos para los enlaces del menú */
  /* ... */
}


/* Estilos para colocar los enlaces en línea */
.btn-group {
  display: flex;
}

.btn {
  margin-right: 10px; /* Ajusta el espacio entre los botones según tu preferencia */
}

.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 36%; /* Establece la relación de aspecto (550 / 1520) del mapa para mantener su proporción */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
